# Celery
celery>=5.3.0
celery-batches>=0.8.0
kombu>=5.3.0
gevent>=24.2.0
redis>=5.0.0

# Database
sqlalchemy>=2.0.0
asyncpg>=0.29.0
psycopg2-binary>=2.9.0

# Settings
pydantic>=2.5.0
pydantic-settings>=2.1.0

# OpenTelemetry
opentelemetry-api>=1.21.0
opentelemetry-sdk>=1.21.0
opentelemetry-instrumentation-celery>=0.42b0
opentelemetry-instrumentation-sqlalchemy>=0.42b0
opentelemetry-exporter-otlp>=1.21.0
